:host {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    .slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .control {
            display: inline-block;
            padding: 8px 16px;
            height: 50px;
            line-height: 50px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .bullets {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: center;
        flex: 10;
        .bullet {
            cursor: pointer;
            flex: 1;
            margin: 3%;
            svg {
                width: 2vw;
                height: inherit;
            }
        }
    }
}
