:host {
  height: 7%;
  display: flex;
  align-items: center;

  border-top: 1px solid rgba(#000, 0.2);


  padding: 1rem;
  box-sizing: border-box;

  .rights {
    width: 85%;
    margin: 0 auto;
    color: #272727;
  }
}
