@import '../../../colors.scss';
:host {
  // height: 7%;
  width: calc(100% - 48px);
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  color: $gray01;
  border-top: 1px solid rgba(rgb(65, 65, 65), 0.16);
  box-sizing: border-box;

  .rights {
    margin: 0 auto;
    color: #272727;
    font-weight: 300;
    line-height: 120%;
  }
}
