@import '/src/responsive';

:host {
  position: fixed;
  width: 100%;
  transition: top 0.3s;

  top: 0;
  left: 0;
  right: 0;

  z-index: 999999;

  overflow: hidden;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.05);

  .inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: black;

    .spacer {
      display: flex;
      flex: 1;
    }
    .mobile-menu {
      display: none;
    }

      .logo {
      cursor: pointer;
      width: 60px;
      height: 60px;
    }

    .routing {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex: 2;

      .link {
        font-family: Poppins;
        font-weight: 300;
        white-space: nowrap;
        margin: 25px;
        cursor: pointer;
        user-select: none;
        outline: 0;
      }
    }
  }

  @media only screen and (max-width: $responsiveBreakPoint) {
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    height: 8%;

    .inner {
      width: 95%;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
      }
      .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4%;
        width: 5%;

        img {
          width: 100%;
        }
      }

      .routing {
        display: none;
      }
    }
  }
}
