@import '/src/responsive';

:host {
  position: fixed;
  width: 100%;
  transition: top 0.3s;

  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  overflow: hidden;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.05);

  .inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: black;

    .menu-items {
      display: flex;
      flex-direction: row;
    }
    .spacer {
      display: flex;
      flex: 1;
    }
    .mobile-menu {
      display: none;
    }

      .logo {
      cursor: pointer;
      width: 60px;
      height: 60px;
    }

    .routing {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex: 2;

      .link {
        font-family: Poppins;
        font-weight: 300;
        white-space: nowrap;
        margin: 25px;
        cursor: pointer;
        user-select: none;
        outline: 0;
      }
    }
  }

  @media only screen and (max-width: $responsiveBreakPoint) {
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    height: $headerMobileHeight;

    .inner {
      //margin-top: 4%;
      width: 95%;
      height: 100%;
      .menu-items {
        height: 100%;
        align-items: center;
        width: 100%;
      }
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 70%;
        height: auto;
        margin-bottom: -1%;
      }
      .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .routing {
        display: none;
      }
    }


    &.expanded {
      overflow: hidden;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      background: #fcdddd;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .spacer {
          display: none;
        }
        .routing {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          .link {
            font-family: Butler;
            font-size: 3.5rem;
            font-weight: bold;
            user-select: none;
            &:focus {
              color: white;
              text-decoration: none;
              outline: none;
              user-select: none;
            }
          }
        }
      }
    }
  }
}
