@import '../../../colors.scss';
@import '../../../responsive.scss';

$gridWidth: 73%;

:host {
  display: block;
  width: $gridWidth;
  margin: 140px auto 0 auto;

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;

    .heading {
      max-width: 56%;
      font-size: $h1-size;
      font-weight: 700;
      color: #000;
      font-family: Urbanist;
      line-height: 115%;
      letter-spacing: -1.5%;
    }

    .description {
      margin-top: 24px;
      max-width: 56%;
      font-size: $h1-subtile-size;
      font-weight: 300;
      line-height: 140%;
      letter-spacing: 0;
      color: $gray01;
    }

    .image {
      margin-top: 64px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
      box-shadow: -4px -4px 24px 0px rgba(0, 0, 0, 0.04);
    }
  }

  .details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 104px auto;
    justify-content: flex-start;

    .details {
      display: inline-flex;
      padding-right: 64px;
      flex-direction: column;
      row-gap: 24px;

      .client,
      .duration,
      .platform {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;

        .title {
          font-size: $sub-text-size;
          text-transform: uppercase;
          color: $gray02;
          line-height: 140%;
          font-weight: 300;
        }

        .value {
          margin-top: 2px;
          font-size: $text-size;
          font-weight: 300;
          color: $black;
          line-height: 140%;
        }
      }

    }

    .introduction {
      display: inline-flex;
      width: 56%;
      flex-direction: column;
      text-align: left;
      border-left: 1px solid rgba(224, 224, 224, 1);
      padding-left: 64px;

      .title {
        font-size: $h2-size;
        font-weight: 500;
        color: #171717;
        line-height: 100%;
      }

      .description {
        margin-top: 12px;
        font-size: $text-size;
        font-weight: 300;
        color: $gray01;
        line-height: 140%;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding-bottom: 64px;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
      box-shadow: -4px -4px 24px 0px rgba(0, 0, 0, 0.04);

    }
  }

  .thank-you {
    height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 180px 0;

    .headline {

      font-family: Urbanist;
      font-size: 96px;
      font-weight: 600;
      line-height: 96px;
      letter-spacing: -0.015em;
      text-align: center;

      color: transparent;
      background-clip: text;
      background:
        linear-gradient(82.88deg, rgba(255, 52, 107, 0.5) 0%, rgba(255, 52, 107, 0) 94.19%),
        linear-gradient(101.32deg, #FD5129 -2.69%, #FF833D 25.27%, #FF8E16 63.08%, #FFCA10 98.68%);

      background-clip: text;

    }

    .subheadline {
      color: #171717;
      font-size: 40px;
    }
  }
}

// Mobile responsive styles
@media (max-width: $responsiveBreakPoint) {
  :host {
    width: calc(100% - 32px);
    margin: 32px auto 0 auto;

    .hero {
      .heading {
        max-width: 100%;
        line-height: 120%;
        font-size: $h1-size-mobile;
      }

      .description {
        max-width: 100%;
        margin-top: 1px;
        font-size: $h1-subtile-size-mobile;
      }

      .image {
        margin-top: 40px;
        border-radius: 16px;
      }
    }

    .details-container {
      flex-direction: column-reverse;
      margin: 64px auto;
      row-gap: 40px;

      .details {
        padding-right: 0;
        row-gap: 20px;
        order: 2; // Move details below introduction on mobile

        .client,
        .duration,
        .platform {
          .title {
            font-size: $sub-text-size-mobile;
          }
        }

        .value {
          font-size: $text-size-mobile;
        }
      }

      .introduction {
        width: 100%;
        border-left: none;
        border-top: 1px solid rgba(224, 224, 224, 1);
        padding-left: 0;
        padding-top: 32px;
        order: 1;
        .title {
          font-size: $h2-size-mobile;
        }

        .description {
          margin-top: 8px;
          font-size: $text-size-mobile;
        }
      }
    }

    .content {
      row-gap: 40px;
      padding-bottom: 40px;

      .image {
        border-radius: 16px;
      }
    }

    .thank-you {
      padding: 120px 0;
      display: none;

      .headline {
        line-height: 48px;
        font-size: 48px;
      }

      .subheadline {
        margin-top: 8px;
        font-size: 24px;
      }
    }
  }
}