<div class="screen main" #main>
  <div class="logo">
    <img src="assets/ram-aderet/logo.svg" />
  </div>
  <span class="headline">
    An Internal system for construction project management
  </span>
  <div class="picture">
    <img src="assets/ram-aderet/hero.svg" />
  </div>
</div>

<div #about class="screen about" id="about">
  <div class="headline">
    <h2>{{texts['aboutHeadline']}}</h2>
  </div>

  <div class="info">
    <span>{{texts['about']}}</span>
  </div>
</div>

<div #buttons4 class="screen buttons-inputs">
  <div class="headline">
    <h2>Generic Components</h2>
  </div>
  <div class="container">
    <section class="generic-file-card">
      <h4>Generic File Card</h4>
      <div class="file-cards">
        <img src="assets/ram-aderet/file-card.svg" />
      </div>
    </section>

    <section class="generic-text-area">
      <h4>Generic Text Area</h4>
      <div class="text-area">
        <img src="assets/ram-aderet/text-area.svg" alt="Text Area 1" />
        <img src="assets/ram-aderet/text-area2.svg" alt="Text Area 2" />
      </div>
    </section>

    <section class="generic-drop-down">
      <h4>Generic Drop Down</h4>
      <div class="dropdown">
        <img src="assets/ram-aderet/dropdown.svg" />
      </div>
    </section>

    <div class="filter-switch">
      <section class="generic-filter">
        <h4>Generic Filter</h4>
        <div class="filter">
          <img src="assets/ram-aderet/filter.svg" alt="Filter" />
        </div>
      </section>

      <section class="generic-switch">
        <h4>Generic Switch</h4>
        <div class="switch">
          <img src="assets/ram-aderet/switch.svg" alt="Switch" />
        </div>
      </section>
    </div>
  </div>
</div>

<div #webmockups class="screen web-mockups" id="webmockups">
  <div class="picture">
    <img src="assets/ram-aderet/web-mockups.svg" />
  </div>
</div>
<div #webmockups class="screen mobile-mockups" id="mobilemockups">
  <div class="picture">
    <img src="assets/ram-aderet/mobile-mockups.png" />
  </div>
</div>