<div class="screen main" #main>
  <div class="logo">
    <img src="assets/elal-cargo/Logo ELAL Cargo.svg" />
  </div>
  <span class="headline">
    Refactor of El Al Cargo's website & creating a new mobile app
  </span>
  <div class="picture">
    <img src="assets/elal-cargo/cargo-into.svg" />
  </div>
</div>

<div #about class="screen about" id="about">
  <div class="headling">
    <h2>{{texts['aboutHeadline']}}</h2>
  </div>

  <div class="info">
    <span>{{texts['about']}}</span>
  </div>

</div> 
<div #colors class="screen colors" id="colors">
  <div class="headling">
    <h2>Colors</h2>
  </div>

  <div class="picture">
    <img src="assets/elal-cargo/Color palette.svg" />
  </div>

</div> 


<div #buttons class="screen buttons-inputs" id="buttons">
  <div class="buttons">
    <div class="headline">Buttons</div>
    <div class="content">
      <img src="assets/elal-cargo/buttons.svg" />
    </div>
  </div>
  <div class="inputs">
    <div class="headline">Inputs</div>
    <div class="content">
      <img src="assets/elal-cargo/Inputs.svg" />
    </div>
  </div>
</div> 

<div #webmockups class="screen web-mockups" id="webmockups">
  <div class="picture">
    <img src="assets/elal-cargo/web-mockups.png" />
  </div>
</div> 

<div #appmockups class="screen app-mockups" id="appmockups">
  <div class="picture">
    <img src="assets/elal-cargo/app-mockups.svg" />
  </div>
</div> 

