:host {
    .color {
        display: inline;
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        &.light {
            color: black;
            box-shadow: 1px 0px 10px black;
        }
        &.dark {
            color: white;
        }
    }
}
