@import '/src/responsive';
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4,
  h2 {
    margin: 0;
    transition: 1s;
  }

  @media only screen and (max-width: $responsiveBreakPoint) {
    p {
      margin: 0.5em 0 0;
    }
  }
}
