@import '/src/responsive';
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sub-headline,
  .headline {
    margin: 0;
    transition: 1s;
  }

  @media only screen and (max-width: $responsiveBreakPoint) {
    .text {
      margin: 0.5em 0 0;
    }

    .headline {
      white-space: normal;
    }
  }
}
