@import "./typography.scss";


$gridWidth: 73%;
$mobileGridWidth: 92%;

$marginSize: calc((100% - $gridWidth) / 2);
$mobileMarginSize: calc((100% - $mobileGridWidth) / 2);
$cell: calc($gridWidth / 12);

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    outline: 0;
    width: $gridWidth;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: $gridWidth;
      height: 100%;
      margin: 0 auto;
    }


    .button {
      border-radius: 50px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
      width: fit-content;
      padding: 0.6rem 1.75rem;
      vertical-align: middle;
      text-align: center;
      display: flex;
      justify-content: center;

      a,
      div {
        text-decoration: none;
        outline: 0;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 1.25px;
        color: #303030;
        margin: 0;
        padding: 0;
      }
    }

    &.main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/assets/new-home/Texture.svg') repeat;
        mix-blend-mode: overlay;
        opacity: 0.05;
        pointer-events: none;
        z-index: 1;
      }

      .content {
        width: 800px;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        .hello {
          margin-bottom: 16px;

          img {
            width: 100%;
            display: flex;
          }
        }

        .title {
          display: flex;
          flex-direction: column;
          align-items: center;

          .headline .gradient,
          .sub-headline {
            font-family: Urbanist;
            font-size: 96px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -1.5%;
            text-align: center;
            color: $black;
          }

          .headline .gradient {
            color: transparent;
            background-clip: text;
            background:
              linear-gradient(82.88deg, rgba(255, 52, 107, 0.5) 0%, rgba(255, 52, 107, 0) 94.19%),
              linear-gradient(101.32deg, #FD5129 -2.69%, #FF833D 25.27%, #FF8E16 63.08%, #FFCA10 98.68%);

            background-clip: text;
          }
        }

        .subtitle {
          font-size: 32px;
          font-weight: 300;
          line-height: 140%;
          text-align: center;
          margin-top: 40px;
          color: $gray;
        }

        .icon {
          align-items: center;
          display: flex;
          justify-content: center;
          cursor: pointer;
        }


      }

      .strip {
        width: 100%;
        height: 112px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        margin-bottom: 64px;
      }

      .right-gradient {
        background: linear-gradient(45deg, #FF346B 5.85%, rgba(255, 203, 20, 0.3) 100%);
        width: 325px;
        height: 325px;
        top: 0;
        margin-top: 36px;
        right: -60px;
        position: absolute;
        display: block;
        border-radius: 50%;
        filter: blur(80px);
        opacity: 0.4;
        z-index: -1;
        pointer-events: none;
      }

      .left-gradient {
        background: linear-gradient(135deg, #FE8484 16%, rgba(255, 203, 20, 0.2) 84%);
        width: 445px;
        height: 445px;
        bottom: 24px;
        left: -32px;
        position: absolute;
        display: block;
        border-radius: 50%;
        opacity: 0.5;
        filter: blur(105px);
        z-index: -1;
        pointer-events: none;
      }
    }

    &.about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: $gridWidth + $marginSize;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;
        margin-left: calc($marginSize / 2);
        text-align: left;

        .container {
          margin-top: -10vh;

          .headline {
            margin-bottom: 2%;
          }
        }

        .download {
          cursor: pointer;
          background-color: #fcdddd;
          margin-top: -10vh;
        }

      }

      .picture {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

    }


    &.contact {
      height: unset;
      min-height: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //height: 100vh - $headerSize;
      //min-height: 100vh - $headerSize;
      position: relative;
      padding: 180px 0;

      .headline {

        font-family: Urbanist;
        font-size: 96px;
        font-weight: 600;
        line-height: 96px;
        letter-spacing: -0.015em;
        text-align: center;

        color: transparent;
        background-clip: text;
        background:
          linear-gradient(82.88deg, rgba(255, 52, 107, 0.5) 0%, rgba(255, 52, 107, 0) 94.19%),
          linear-gradient(101.32deg, #FD5129 -2.69%, #FF833D 25.27%, #FF8E16 63.08%, #FFCA10 98.68%);

        background-clip: text;

      }

      .subheadline {
        color: #171717;
        font-size: 40px;
      }
    }

    &.projects {
      display: flex;
      gap: 64px;
      padding: 180px 0;
      height: auto;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 140px;

        app-project-item {
          width: 100%;
        }
      }

      // Responsive adjustments
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 0;
        padding: 120px 0;

        .column {
          gap: 120px;
        }
      }

      @media (min-width: 769px) and (max-width: 1200px) {
        gap: 40px;

        .column {
          gap: 120px;
        }
      }
    }
  }
}