@import "./typography.scss";

$gridWidth: 85%;
$marginSize: (100% - $gridWidth) / 2;
$cell: $gridWidth / 12;

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    width: $gridWidth;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: $gridWidth;
      height: 100%;
      margin: 0 auto;
    }

    &.main {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(255, 0, 96, 0.9), rgba(255, 105, 162, 0.8));

      .picture {
        img {
          position: absolute;
          right: 0;
          height: 100vh;
        }
      }

      .inner {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-template-areas:
          ". . . . . . . . . . ."
          "headline headline headline headline headline headline . . . . ."
          "download download download . . scroll . . . . .";

        .headline {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "up up up up up ."
            ". . bottom bottom bottom bottom";
          grid-area: headline;
          color: white;
          text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        }

        .up {
          grid-area: up;

          h1 {
            margin-bottom: 40px;
          }
        }

        .bottom {
          grid-area: bottom;

          h1 {
            margin: 0;
            margin-left: 90px;
            margin-top: 15px;
          }
        }

        .download {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            ". . . ."
            "google apple . .";
          grid-area: download;
        }

        .google {
          grid-area: google;
        }

        .apple {
          grid-area: apple;
          margin: 0 10px;
        }

        .google,
        .apple {
          display: flex;
          justify-content: center;
          cursor: pointer;

          img {
            object-fit: contain;
            width: 130px;
          }
        }

        .scroll {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "."
            "icon";
          grid-area: scroll;
          text-align: center;

          img {
            width: 80%;
          }
        }

        .icon {
          cursor: pointer;
          grid-area: icon;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo {
        width: 100%;
        text-align: center;

        img {
          object-fit: contain;
          width: 70%;
        }
      }

      .info {
        text-align: center;

        .bold {
          font-weight: 400;
        }
      }
    }

    &.introduction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 45%;
        margin-left: $marginSize;
      }

      .picture {
        width: 55%;
      }

      img {
        width: 100%;
      }
    }

    &.user-research {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50% - $marginSize;
        margin-right: 7.5%;
        padding: 5rem 0;
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }

      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.colors {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 40%;
        margin-left: 7.5%;
      }

      .picture {
        width: 50%;
      }

      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.wireframes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 5 * $cell;
        margin: 0 $marginSize;
      }

      .picture {
        width: 50%;
      }

      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.market-research {
      background: url("/assets/beauty-zone/7+8 - Market research/brush background.png");
      background-size: cover;
      height: 200vh;
      width: 100%;

      .container {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 10;
        width: 50%;
        margin-left: $marginSize;
        // app-text-paragraph {
        //   // width: 50%;

        // }

        .pain-points {
          display: flex;
          flex-direction: column;
          padding-top: 1rem;

          .pain-point {
            margin: 1.875rem 0;
          }
        }

        // .picture {
        //   width: 50%;
        // }
        // img {
        //   object-fit: fit;
        //   width: 100%;
        // }
      }
    }

    &.visualize-wireframes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50%;
        margin-left: 7.5%;
      }

      .picture {
        width: 50%;
      }

      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.first-persona {
      background-image: url("/assets/beauty-zone/5 - Persona 01/first persona bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". ."
          ". text";

        .text {
          grid-area: text;
          color: white;
          display: flex;
          align-items: center;
        }
      }

      .headline {
        position: absolute;
        margin-top: 5rem;
        left: 0;

        img {
          width: 30vw;
        }
      }
    }

    &.second-persona {
      background-image: url("/assets/beauty-zone/6 - Persona 02/second persona bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      direction: rtl;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". ."
          ". text";

        .text {
          text-align: left;
          grid-area: text;
          color: white;
          display: flex;
          align-items: center;
        }
      }

      .headline {
        left: 0;
        position: absolute;
        margin-top: 5rem;

        img {
          width: 30vw;
        }
      }
    }

    &.typography-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      .container {
        padding: 1rem 0;
        box-sizing: border-box;
        height: 100%;
        margin-left: $marginSize;
        width: 60% - $marginSize;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .typography {
          img {
            margin-top: 1.5rem;
            width: 65%;
          }
        }

        .icons {
          app-text-paragraph {
            margin-bottom: 2rem;
          }
          img {
            width: 85%;
          }
        }
      }

      .picture {
        height: 100%;
        width: 40%;

      }

      img {
        width: 100%;
      }


    }


    &.information-architecture {
      width: 100%;
      background-image: url("/assets/beauty-zone/9 - Information architecture/Girls Background.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 10;

        app-text-paragraph {
          padding-top: 3.5rem;
          width: 50%;
          flex: 5;
          color: white;

          &::ng-deep {
            .sub-headline {
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }

        .picture {
          flex: 5;
          width: 100%;
          padding-bottom: 3rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &.onboarding-preview {
      width: 100%;
      height: 200vh;

      .container {
        text-align: center;
        height: 100%;

        .parallelogram {
          background: rgba(245, 15, 102, 0.7);
          transform: skewY(-10deg);
          width: 100%;
          display: block;
          height: 50vw;
          position: absolute;
          margin-top: 20%;
        }

        img {
          position: relative;
          z-index: 99;
          margin: 0 auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &.preview {
      width: 100%;
      background: rgba(255, 105, 162, 0.8);
      height: auto;

      img {
        width: 100%;
        object-fit: cover;
      }

      .container {
        .parallelogram {
          background: red;
          transform: skewY(-10deg);
          width: 100%;
        }

        img {
          position: relative;
          z-index: 99;
        }
      }
    }

    &.thanks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .content {
        font-family: Butler;
        font-size: 80px;
        font-weight: bold;
      }
    }

    &.contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      flex: 18;
      width: 100%;

      .navigation {
        display: flex;
        flex: 10;

        .prev,
        .next {
          flex: 5;
          text-align: center;
          display: flex;
          justify-content: center;
          padding-top: 45px;
          padding-bottom: 45px;
          outline: 0;
          user-select: none;
          transition: 0.5s;

          img {
            object-fit: contain;
          }

          &:hover {
            filter: brightness(50%);
            cursor: pointer;
          }
        }

        .prev {
          background: #fff;
        }

        .next {
          background: #c8e3e4;
        }
      }

      .info {
        flex: 8;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .mail,
          .phone {
            margin: 10px;
          }
        }

        .goto-top {
          cursor: pointer;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
