<div class="screen heading">
  <div class="headline first">
    Find The Beauty
  </div>
  <div class="headline second">
    Within You
  </div>
  <div class="bg">
    <img src="../../../assets/beauty-zone/BeautyZone-cover%20photo.png"/>
  </div>
</div>

<div class="screen about">
  <div class="logo">
    <img src="../../../assets/beauty-zone/heading.svg">
  </div>

  <div class="info">
    <h2>Responsibilities: <span class="bold">UX | UI</span></h2>
    <h2>Platform: <span class="bold">Mobile Application</span></h2>
  </div>

</div>

<div class="screen summary">
  <div class="info">
    <h2 class="headline">
      The Beauty Zone
    </h2>
    <article class="content">
      How many times have you run into a stunning makeup look and wished to know how to do it on your own? Maybe find
      out what mascara did she use to get those outstanding lashes? <br/>
      <br/>
      Have you spent too much money and hours trying to get the desired look and finally got exhausted and unsatisfied
      from the result? <br/>
      <br/>
      Meet BeautyZone.
    </article>
  </div>
  <div class="examples">
    <img src="/assets/beauty-zone/HomePage%20Phone%20screen.svg" class="home-page"/>
    <img src="/assets/beauty-zone/ShopPage%20Phone%20screen.svg" class="shop-page"/>
  </div>

</div>
<div class="screen research"></div>
<div class="screen first-persona">
  <div class="headline">
    <h1>Persona 01 | Chloe Marks</h1>
  </div>
  <div class="inner-page">
    <img class="persona" src="../../../assets/beauty-zone/firstpersona.png"/>
    <div class="bubbles">
      <app-bubble text="lorem fuehhefhfefew"></app-bubble>
    </div>
  </div>
</div>
<div class="screen second-persona"></div>
