<div class="screen heading">
  <div class="headline first">
    Find The Beauty
  </div>
  <div class="headline second">
    Within You
  </div>
  <div class="bg">
    <img src="../../../assets/beauty-zone/BeautyZone-cover%20photo.png" />
  </div>
</div>

<div class="screen about">
  <div class="logo">
    <img src="../../../assets/beauty-zone/heading.svg">
  </div>

  <div class="info">
    <h2>Responsibilities: <span class="bold">UX | UI</span></h2>
    <h2>Platform: <span class="bold">Mobile Application</span></h2>
  </div>

</div>

<div class="screen summary">
  <div class="info">
    <h2 class="headline">
      The Beauty Zone
    </h2>
    <article class="content">
      How many times have you run into a stunning makeup look and wished to know how to do it on your own? Maybe find
      out what mascara did she use to get those outstanding lashes? <br />
      <br />
      Have you spent too much money and hours trying to get the desired look and finally got exhausted and unsatisfied
      from the result? <br />
      <br />
      Meet BeautyZone.
    </article>
  </div>
  <div class="examples">
    <img src="/assets/beauty-zone/HomePage%20Phone%20screen.svg" class="home-page" />
    <img src="/assets/beauty-zone/ShopPage%20Phone%20screen.svg" class="shop-page" />
  </div>

</div>
<div class="screen research"></div>
<div class="screen first-persona">
  <div class="headline">
    <h1>Persona 01 | Chloe Marks</h1>
  </div>
  <div class="inner-page">
    <img class="persona" src="../../../assets/beauty-zone/firstpersona.png" />
    <div class="bubbles">
      <app-bubble text="lorem fuehhefhfefew"></app-bubble>
    </div>
  </div>
</div>
<div class="screen second-persona"></div>
<div class="screen information-architecture">
  <div class="inner-page">
    <div class="heading">
      <h2>Information Architecture</h2>
      <h1>Building The Roots</h1>
    </div>
    <p class="content">
      Based on the insights gained from the research, I defined the architecture of the app. This step helps me to
      validate my solution before jumping to visual wireframes.
    </p>
  </div>
</div>

<div class="screen colors">
  <div class="inner-page">
    <div class="container">
      <div class="heading">
        <h2>Colors</h2>
        <h1>Feminine&Elegant</h1>
      </div>
      <p class="content">
        The color pink, is thought to be a calming color associated with love, kindness, femininity, thoughtful and
        caring. Thats why I chose it to be my primary color - to empower woman and boost giving and receiving.
        Black is associated with power, strength, elegance, sophistication, and that is exactly what I want my app to
        represent.
      </p>
    </div>
    <div class="color-pallate-image">
      <img src="/assets/beauty-zone/Colors - Makeup Swatches@2x.png" />
    </div>
  </div>

</div>

<div class="screen font">
  <div class="inner-page">
    <div class="typography">
      <div class="heading">
        <h2>Typography</h2>
        <h1>San Serif & Modern Font</h1>
      </div>
      <div class="content">
        <h1>Karu</h1>
        <h2>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2>
        <h2>abcdefghijklmnopqrstuvwxyz</h2>
        <h2>1234567890</h2>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="icons">
      <div class="heading">
        <h2>Icons</h2>
        <h1>Thin & Rounded Icons</h1>
      </div>
      <div class="font">
        <img src ="/assets/beauty-zone/Group 148@2x.png" />
      </div>
    </div>
  </div>

</div>


<div class="screen preview">
  <img src="/assets/beauty-zone/Design-PhonesMockups@2x.png" />
</div>

<div class="screen thanks">
  <img src="/assets/beauty-zone/Thanks.svg" />
  <h1 class='content'>Thanks For Viewing!</h1>
</div>