@import "./typography.scss";

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: 85%;
      height: 100%;
      margin: 0 auto;
    }

    &.main {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(255, 0, 96, 0.9), rgba(255, 105, 162, 0.8));

      .picture {
        img {
          position: absolute;
          right: 0;
          height: 100vh;
        }
      }
      .inner {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-template-areas:
          ". . . . . . . . . . ."
          "headline headline headline headline headline headline . . . . ."
          "download download download . . scroll . . . . .";

        .headline {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "up up up up up ."
            ". . bottom bottom bottom bottom";
          grid-area: headline;
          color: white;
          text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .up {
          grid-area: up;
          h1 {
            margin-bottom: 40px;
          }
        }
        .bottom {
          grid-area: bottom;
          h1 {
            margin: 0;
            margin-left: 90px;
            margin-top: 15px;
          }
        }
        .download {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            ". . . ."
            "google apple . .";
          grid-area: download;
        }
        .google {
          grid-area: google;
        }
        .apple {
          grid-area: apple;
          margin: 0 10px;
        }
        .google,
        .apple {
          display: flex;
          justify-content: center;
          img {
            object-fit: contain;
          }
        }
        .scroll {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "."
            "icon";
          grid-area: scroll;
          text-align: center;
        }
        .icon {
          cursor: pointer;
          grid-area: icon;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo {
        width: 100%;
        text-align: center;
        img {
          object-fit: contain;
          width: 70%;
        }
      }

      .info {
        text-align: center;
        .bold {
          font-weight: bold;
        }
      }
    }

    &.introduction {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        flex: 5;        
        margin-left: 7.5%;
      }

      .picture {
        width: 50%;
      }
      img {
        object-fit: fit;
        width: 100%;
      }
    }
  }
  //   &.summary {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;

  //     .info {
  //       flex: 4;

  //       .headline {
  //         font-size: 58px;
  //       }

  //       .content {
  //         font-size: 23px;
  //         font-weight: normal;
  //       }
  //     }

  //     .examples {
  //       text-align: center;
  //       flex: 6;
  //     }
  //   }

  //   &.user-research {
  //     img {
  //       width: 100%;
  //       object-fit: cover;
  //     }
  //     border: 1px solid #000;

  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);
  //     grid-template-rows: repeat(4, 1fr);
  //     gap: 0px 26px;
  //     grid-template-areas:
  //       "picture title"
  //       "picture heading"
  //       "picture text"
  //       "picture .";

  //     .picture {
  //       grid-area: picture;
  //     }
  //     .title {
  //       grid-area: title;
  //     }
  //     .heading {
  //       grid-area: heading;
  //     }
  //     .text {
  //       grid-area: text;
  //     }
  //   }

  //   &.research {
  //     height: unset;
  //     min-height: unset;
  //     display: flex;
  //     flex: 10;
  //     .example {
  //       flex: 5;
  //       img {
  //         width: 100%;
  //       }
  //     }

  //     .info {
  //       flex: 5;
  //       font-family: Poppins;
  //       .heading {
  //         font-size: 58px;
  //       }
  //     }
  //   }

  //   &.first-persona {
  //     background-image: linear-gradient(180.01deg, rgba(255, 105, 162, 0.64) 0.01%, rgba(255, 0, 96, 0.8) 99.99%);
  //     width: 100%;
  //     .headline {
  //       text-align: left;
  //       h1 {
  //         color: white;
  //         font-weight: 300;
  //         font-size: 33px;
  //         text-align: center;
  //         display: grid;
  //         grid-template-columns: 200px max-content 200px;
  //         grid-template-rows: 23px 0;
  //         grid-gap: 10px;
  //       }

  //       h1:before {
  //         content: " ";
  //         display: block;
  //         border-bottom: 1px solid white;
  //       }
  //     }

  //     .inner-page {
  //       width: 85%;
  //       height: 100%;
  //       margin: 0 auto;

  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;
  //       flex: 10;

  //       .persona {
  //         display: flex;
  //         text-align: center;
  //         z-index: -1;
  //         position: relative;
  //         bottom: 0;
  //         left: 0;
  //         height: 85%;
  //         align-self: center;
  //         flex: 4;
  //       }
  //       .bubbles {
  //         display: flex;
  //         flex: 7;
  //         flex-direction: row;
  //         justify-content: space-between;

  //         .bubble {
  //           display: flex;
  //           margin-top: 10px;
  //           align-self: flex-start;
  //         }
  //       }
  //     }
  //   }

  //   &.information-architecture {
  //     background: url("/assets/beauty-zone/Girls Background@2x.png");
  //     background-size: cover;
  //     width: 100%;
  //     .inner-page {
  //       width: 85%;
  //       margin: auto;
  //       padding-top: 50px;
  //       .content {
  //         width: 43%;
  //       }
  //     }
  //   }

  //   &.wireframes {
  //     display: flex;
  //     flex-direction: column;
  //     .heading {
  //     }
  //     .container {
  //       display: flex;
  //       flex-direction: row;
  //       width: 100%;
  //       flex: 10;
  //       .menu {
  //         flex: 2;
  //       }
  //       .phone {
  //         flex: 8;
  //       }
  //     }
  //   }

  //   &.colors {
  //     width: 100%;

  //     .inner-page {
  //       width: 85%;
  //       margin: auto;
  //       padding-top: 50px;
  //       display: flex;
  //       flex-direction: row;
  //       flex: 10;
  //       .container {
  //         display: flex;
  //         flex-direction: column;
  //         flex: 5;
  //       }
  //       .color-pallate-image {
  //         display: flex;
  //         flex: 5;
  //         img {
  //           width: 100%;
  //         }
  //       }
  //     }
  //   }

  //   &.font {
  //     width: 100%;
  //     height: unset;
  //     min-height: unset;
  //     margin-bottom: 200px;

  //     .inner-page {
  //       width: 85%;
  //       margin: auto;
  //       padding-top: 50px;
  //       display: flex;
  //       flex-direction: row;
  //       flex: 10;
  //       .typography {
  //         display: flex;
  //         flex-direction: column;
  //         flex: 4;
  //       }
  //       .content {
  //         font-family: Karu;
  //       }
  //     }
  //     .spacer {
  //       display: flex;
  //       flex: 1;
  //     }
  //     .icons {
  //       display: flex;
  //       flex-direction: column;
  //       flex: 4;
  //       .heading {
  //         display: flex;
  //         flex-direction: column;
  //         flex: 4;
  //       }
  //       .font {
  //         display: flex;
  //         flex-direction: column;
  //         flex: 4;
  //         img {
  //           width: 100%;
  //         }
  //       }
  //     }
  //   }
  // }

  // &.preview {
  //   width: 100%;
  //   background: rgba(255, 105, 162, 0.8);
  //   height: auto;
  //   img {
  //     width: 100%;
  //   }
  // }

  // &.thanks {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   text-align: center;
  //   .content {
  //     font-family: Butler;
  //     font-size: 80px;
  //     font-weight: bold;
  //   }
  // }
  // &.contact {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   text-align: center;
  //   flex: 18;
  //   .navigation {
  //     display: flex;
  //     flex: 10;
  //     .prev,
  //     .next {
  //       flex: 5;
  //       text-align: center;
  //       display: flex;
  //       justify-content: center;
  //       padding-top: 45px;
  //       padding-bottom: 45px;
  //       outline: 0;
  //       user-select: none;
  //       transition: 0.5s;
  //       img {
  //         object-fit: contain;
  //       }
  //       &:hover {
  //         filter: brightness(50%);
  //         cursor: pointer;
  //       }
  //     }

  //     .prev {
  //       background: #fff;
  //     }

  //     .next {
  //       background: #c8e3e4;
  //     }
  //   }

  //   .info {
  //     flex: 8;
  //     display: flex;
  //     justify-content: center;
  //     flex-direction: column;
  //     align-items: center;

  //     .container {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: center;
  //       .mail,
  //       .phone {
  //         margin: 10px;
  //       }
  //     }
  //     .goto-top {
  //       cursor: pointer;
  //       width: 100%;
  //       text-align: right;
  //     }
  //   }
  // }
}
