// @import "./assets/Roboto/Roboto.family.scss";

$thinFontWeight: 100;
$lightFontWeight: 300;
$normalFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;
$blackFontWeight: 900;

$fontRootSize: 14px;

html {
    font-size: $fontRootSize;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: $blackFontWeight;
    font-size: 2rem;
}

h2 {
    font-weight: $boldFontWeight;
    font-size: 1.75rem;
}

h3 {
    font-weight: $mediumFontWeight;
    font-size: 1.5rem;
}

h4 {
    font-weight: $normalFontWeight;
}

h5 {
    font-weight: $lightFontWeight;
    font-size: 1.25rem;
}

h6 {
    font-weight: $thinFontWeight;
    font-size: 1rem;
}

h7 {
    font-size: 0.75rem;
}

p,
div,
span {
    font-weight: $normalFontWeight;
    font-size: 1rem;
}
