<div class='inner'>
  <div class="menu-items">
    <div class="mobile-menu" (click)="toggleMenu()"><img src="assets/humburger.svg" /></div>
    <a [href]="'/'">
      <span class="logo">Amit Sheleg Wainner</span>
    </a>

  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>

  <div class="routing">
    <a class="link projects" (click)="closeMenu()" [routerLink]="'/'" [fragment]="'home-my-works'">Projects</a>
    <a class="link about" (click)="closeMenu()" [routerLink]="'/'" [fragment]="'home-about'">About Me</a>
    <div class="link contact" (click)="closeMenu()" [routerLink]="'/'" [fragment]="'home-contact'">Contact Me</div>
  </div>
</div>