<ul class="menu">
    <li class="item">Onboarding</li>
    <li class="item">Explore Inspiration</li>
    <li class="item">Post Page</li>
    <li class="item">Shop Page</li>
    <li class="item">Products Identifier</li>
    <li class="item">Notification Page</li>
    <li class="item">My Profile</li>
</ul>
<div class="phone">
    <img src="/assets/beauty-zone/visualize-wireframes/phone.png" class="screen" />
    <iframe class='video' [src]="videoSrc | safeUrl" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
</div>