
<app-about ngx-parallax></app-about>
<H2>Products</H2>
<div class="products">
  <app-product></app-product>
  <app-product></app-product>
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
  <!--  <app-product></app-product>-->
</div>

