<div class="screen main" #main>
  <div class="picture">
    <img src="/assets/home-page/1 - Welcome screen/SNOW.svg"/>
  </div>
  <div class="scroll">
    <div class="icon" (click)="scroll(about, 'smooth')">
      <img src="/assets/home-page/1 - Welcome screen/scroll.svg"/>
    </div>
  </div>
</div>

<div id="home-about" #about class="screen about">
  <div class="info">
    <div class="container">
      <h2 class="headline">About Me</h2>
      <div class="content" [innerHTML]="texts.about | breakline"></div>
    </div>
    <div class="social">
      <img src="/assets/home-page/2%20-%20About%20me/facebook%20icon.svg">
      <img src="/assets/home-page/2%20-%20About%20me/linkedin%20icon.svg">
      <img src="/assets/home-page/2%20-%20About%20me/dribble%20icon.svg">
    </div>
    <div class="download button">
      <a href="">DOWNLOAD MY CV</a>
    </div>
  </div>
  <div class="picture">
    <img src="/assets/home-page/2%20-%20About%20me/profile%20photo.png" />
  </div>
</div>

<div id="home-my-works" class="screen beauty-zone">
  <div class="inner">
    <div class="picture">
      <img src="/assets/home-page/3%20-%20Beautyzone/Phones.png"/>
    </div>
    <div class="container">
      <div class="content">
        <h2 class="headline">Beauty Zone</h2>
        <div class="description">UX | UI Design Mobile App</div>
        <div class="view button">
          <a [href]="'/beautyzone'">VIEW PROJECT</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="screen wise-home">
  <div class="container">
    <div class="content">
      <h2 class="headline">Wise Home</h2>
      <div class="description">UX | UI Design Mobile & Tablet App</div>
      <div class="view button">
        <a [href]="'/wisehome'">VIEW PROJECT</a>
      </div>
    </div>
  </div>
  <div class="picture">
    <img src="/assets/home-page/4%20-%20Wisehome/mockups WH.png"/>
  </div>
</div>
<div class="screen neige">
  <div class="picture">
    <img src="/assets/home-page/5%20-%20ecommerce/mockups N.png"/>
  </div>
  <div class="container">
    <div class="content">
      <h2 class="headline">Neigè</h2>
      <div class="description">UX | UI Design Desktop E-commerce</div>
      <div class="view button">
        <a href="">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</div>
