@import "./typography.scss";

$gridWidth: 85%;
$marginSize: (100% - $gridWidth) / 2;
$cell: $gridWidth / 12;

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    width: $gridWidth;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: $gridWidth;
      height: 100%;
      margin: 0 auto;
    }

    &.main {
      width: 100%;
      height: 100%;
      background-image: url("/assets/wise-home/1 - Big photo/Cover Image@2x.png");
      background-size: cover;

      .picture {
        img {
          position: absolute;
          right: 0;
          height: 100vh;
          width: 100vw;
        }
      }
      .inner {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-template-areas:
          ". . . . . . . . . . ."
          ". . . . headline headline headline headline . . ."
          ". . . . . scroll . . download download download";

        .headline {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "up up up up up ."
            ". . bottom bottom bottom bottom";
          grid-area: headline;
          color: #438689;
          // text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .up {
          grid-area: up;
          h1 {
            margin-bottom: 40px;
          }
        }
        .bottom {
          grid-area: bottom;
          h1 {
            margin: 0;
            margin-left: 90px;
            margin-top: 15px;
          }
        }
        .download {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            ". . . ."
            "google apple . .";
          grid-area: download;
        }
        .google {
          grid-area: google;
        }
        .apple {
          grid-area: apple;
          margin: 0 10px;
        }
        .google,
        .apple {
          display: flex;
          justify-content: center;
          cursor: pointer;
          img {
            object-fit: contain;
            width: 130px;
          }
        }
        .scroll {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "."
            "icon";
          grid-area: scroll;
          text-align: center;
          img {
            width: 80%;
          }
        }
        .icon {
          cursor: pointer;
          grid-area: icon;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo {
        width: 100%;
        text-align: center;
        img {
          object-fit: contain;
          width: 70%;
        }
      }

      .info {
        text-align: center;
        .bold {
          font-weight: bold;
        }
      }
    }

    &.introduction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: $marginSize;
      }

      .picture {
        width: 50%;
      }
      img {
        object-fit: fit;
        width: 100%;
      }
    }
    &.user-research {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
        padding: 5rem 0;
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.first-persona {
      background: url("/assets/wise-home/5 - Persona 01/Background 1@2x.png");
      background-size: cover;
      width: 100%;
      display: flex;

      .headline {
        text-align: left;
        position: absolute;
        h4 {
          color: black;
          font-size: 33px;
          text-align: center;
          display: grid;
          grid-template-columns: 200px max-content 200px;
          grid-template-rows: 23px 0;
          grid-gap: 10px;
        }

        h4:before {
          content: " ";
          display: block;
          border-bottom: 1px solid black;
        }
      }

      .picture {
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          width: 70%;
          object-fit: contain;
        }
      }
      .spacer {
        flex: 1;
      }
      .container {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: $marginSize;
        .upper-text {
        }

        .bottom-text {
        }
      }
    }
    &.second-persona {
      background: url("/assets/wise-home/6 - Persona 02/Background 2@2x.png");
      background-size: cover;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;

      .headline {
        text-align: left;
        position: absolute;
        h4 {
          color: black;
          font-size: 33px;
          text-align: center;
          display: grid;
          grid-template-columns: 200px max-content 200px;
          grid-template-rows: 23px 0;
          grid-gap: 10px;
        }

        h4:before {
          content: " ";
          display: block;
          border-bottom: 1px solid black;
        }
      }

      .picture {
        flex: 1.5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .spacer {
        flex: 1;
      }
      .container {
        margin-left: $marginSize;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .upper-text {
        }

        .bottom-text {
        }
      }
    }

    &.information-architecture {
      width: 100%;
      background-image: url("/assets/wise-home/8 - Information architecture/Backgroung image Flow@x2.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 10;

        app-text-paragraph {
          padding-top: 3.5rem;
          flex: 5;
          color: black;
          &::ng-deep {
            .sub-headline {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .picture {
          flex: 5;
          width: 82.5%;
          padding: 3rem 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &.wireframes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
        padding: 5rem 0;
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.tablet-wireframes {
      width: 100%;
      height: auto;

      .bg {
        background: rgb(67, 134, 137);
        width: 100%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .picture {
        
        // width: 50%;
        // height: 100%;
        // display: flex;
        // align-items: flex-end;
      }
      img {
        object-fit: fit;
        width: 100%;
        padding: 10rem 0;
      }
    }

    &.design {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
        padding: 5rem 0;
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("/assets/wise-home/12 - Design phone/background for Phone.svg");
      }
      img {
        height: 80%;
      }
    }

    &.design-tablet {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/assets/wise-home/13 - Design Tablet/background for Tablet.svg");
      .picture {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.colors {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
        padding-top: 5rem;
      }

      .picture {
        width: 100%;
        // height: 100%;

        img {
          width: 100%;
        }
      }
      .colors-container {
        width: $gridWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        bottom: 1rem;
      }
    }

    &.typography {
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .typography-container {
          padding-top: 1rem;
          width: 50%;
        }

        .icons-container {
          width: 50%;
        }
      }
      background: url("/assets/wise-home/15 - Typhography&icons/Livingroom\ background@x3.png");
      background-size: cover;
      width: 100%;
    }

    &.show-off {
      padding-top: 2rem;
      height: auto;
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &.thanks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .content {
        font-family: Butler;
        font-size: 80px;
        font-weight: bold;
      }
    }
    &.contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      flex: 18;
      .navigation {
        display: flex;
        flex: 10;
        .prev,
        .next {
          flex: 5;
          text-align: center;
          display: flex;
          justify-content: center;
          padding-top: 45px;
          padding-bottom: 45px;
          outline: 0;
          user-select: none;
          transition: 0.5s;
          img {
            object-fit: contain;
          }
          &:hover {
            filter: brightness(50%);
            cursor: pointer;
          }
        }

        .prev {
          background: #fff;
        }

        .next {
          background: #c8e3e4;
        }
      }

      .info {
        flex: 8;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .headline {
          color: black;
        }

        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .mail,
          .phone {
            margin: 10px;
          }
        }
        .goto-top {
          cursor: pointer;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
