@import "./typography.scss";

$gridWidth: 85%;
$marginSize: (100% - $gridWidth) / 2;
$cell: $gridWidth / 12;

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    width: $gridWidth;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: $gridWidth;
      height: 100%;
      margin: 0 auto;
    }

    &.main {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(255, 0, 96, 0.9), rgba(255, 105, 162, 0.8));

      .picture {
        img {
          position: absolute;
          right: 0;
          height: 100vh;
        }
      }
      .inner {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0px 0px;
        grid-template-areas:
          ". . . . . . . . . . ."
          "headline headline headline headline headline headline . . . . ."
          "download download download . . scroll . . . . .";

        .headline {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "up up up up up ."
            ". . bottom bottom bottom bottom";
          grid-area: headline;
          color: white;
          text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .up {
          grid-area: up;
          h1 {
            margin-bottom: 40px;
          }
        }
        .bottom {
          grid-area: bottom;
          h1 {
            margin: 0;
            margin-left: 90px;
            margin-top: 15px;
          }
        }
        .download {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            ". . . ."
            "google apple . .";
          grid-area: download;
        }
        .google {
          grid-area: google;
        }
        .apple {
          grid-area: apple;
          margin: 0 10px;
        }
        .google,
        .apple {
          display: flex;
          justify-content: center;
          cursor: pointer;
          img {
            object-fit: contain;
            width: 130px;
          }
        }
        .scroll {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          gap: 0px 0px;
          grid-template-areas:
            "."
            "icon";
          grid-area: scroll;
          text-align: center;
          img {
            width: 80%;
          }
        }
        .icon {
          cursor: pointer;
          grid-area: icon;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo {
        width: 100%;
        text-align: center;
        img {
          object-fit: contain;
          width: 70%;
        }
      }

      .info {
        text-align: center;
        .bold {
          font-weight: bold;
        }
      }
    }

    &.introduction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;
      app-text-paragraph {
        width: 40% - $marginSize;
        margin-left: $marginSize;
      }

      .picture {
        width: 60%;
      }
      img {
        object-fit: fit;
        width: 100%;
      }
    }
  }
}