@import "./typography.scss";

$gridWidth: 85%;
$marginSize: (100% - $gridWidth) / 2;
$cell: $gridWidth / 12;

:host {
  // * {
  //   border: 3px solid #000;
  //   box-sizing: border-box;
  // }
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  padding: 0;

  .screen {
    width: $gridWidth;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 100vh;

    .inner {
      width: $gridWidth;
      height: 100%;
      margin: 0 auto;
    }

    &.main {
      width: 100%;
      height: 100%;

      .picture {
        img {
          position: absolute;
          right: 0;
          height: 100vh;
          width: 100vw;
        }
      }

      .inner {
        display: flex;
        justify-content: center;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/wise-home/1 - Big photo/Cover Image@2x.png");

        .download {
          height: auto;
          width: auto;
          bottom: 11%;
          right: 7.5%;
          display: flex;
          position: absolute;

          .google, .apple {
            cursor: pointer;

            img {
              object-fit: contain;
              width: 7vw;
            }
          }

          .apple {
            margin: 0 0.5vw;
          }
        }

        .headline {
          position: absolute;
          top: 21vmin;
          left: 45%;
          color: #438689;

          .up {
            h1 {
              margin-bottom: 6%;
              margin-left: -3rem;
            }
          }

          .bottom {
            h1 {
              margin: 2% 0 0 15%;
            }
          }
        }

        .scroll {
          align-self: flex-end;
          align-items: center;
          display: flex;

          img {
            width: 100%;
          }
        }

        .icon {
          align-items: center;
          display: flex;
          justify-content: center;
          cursor: pointer;
          grid-area: icon;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .logo {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        img {
          object-fit: contain;
          width: 70%;
        }
      }


      .info {
        text-align: center;

        .bold {
          font-weight: 400;
        }
      }
    }

    &.introduction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50% - $marginSize;
        margin: 0 $marginSize;
      }

      .picture {
        width: 50%;
      }

      img {
        width: 100%;
      }
    }

    &.user-research {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
        margin-bottom: 3rem;
        padding: 5rem 0;

        ::ng-deep .headline {
          white-space: normal;
        }
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }

      img {
        width: 100%;
      }
    }

    &.first-persona {
      background: url("/assets/wise-home/5 - Persona 01/Background 1men.png") no-repeat;
      background-size: cover;
      width: 100%;
      display: flex;

      .headline {
        position: absolute;
        margin-top: 5rem;

        img {
          width: 30vw;
        }
      }

      .picture {
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 70%;
          object-fit: contain;
        }
      }

      .spacer {
        flex: 1;
      }

      .container {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: $marginSize;

        .upper-text {
        }

        .bottom-text {
        }
      }
    }

    &.second-persona {
      background: url("/assets/wise-home/6 - Persona 02/Background 2 with men@x2.png") no-repeat;
      background-size: cover;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;

      .headline {
        position: absolute;
        margin-top: 5rem;

        img {
          width: 30vw;
        }
      }


      .picture {
        flex: 1.5;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .spacer {
        flex: 1;
      }

      .container {
        margin-left: $marginSize;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .upper-text {
        }

        .bottom-text {
        }
      }
    }

    &.user-research-details {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      align-items: center;
      flex: 10;
      width: 100%;


      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      img {
        width: 100%;
      }

      .side {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        height: 85%;
        width: 50% - $marginSize;
        margin-right: $marginSize;

        app-text-paragraph {
        }

        .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 2rem;
          grid-row-gap: 2rem;
          margin-left: -1.5rem;
          margin-top: 1rem;


          img {
            object-fit: contain;
            width: 100%;
          }

          .first {
            grid-area: 1 / 1 / 2 / 2;
            background: url("/assets/wise-home/7%20-%20User%20research%20part%20two/Text1.svg") no-repeat;

          }

          .second {
            grid-area: 1 / 2 / 2 / 3;
            background: url("/assets/wise-home/7%20-%20User%20research%20part%20two/Text2.svg") no-repeat;

          }

          .third {
            grid-area: 2 / 1 / 3 / 2;
            background: url("/assets/wise-home/7%20-%20User%20research%20part%20two/Text3.svg") no-repeat;

          }

          .fourth {
            grid-area: 2 / 2 / 3 / 3;
            background: url("/assets/wise-home/7%20-%20User%20research%20part%20two/Text4.svg") no-repeat;

          }

          .first, .second, .third, .fourth {
            padding-top: 1rem;
            padding-left: 1.4rem;
            background-size: 15% 75%;

            .headline {
              margin: 0;
            }

            .text {
              margin: 0;
            }
          }

        }
      }
    }

    &.information-architecture {
      width: 100%;
      background-image: url("/assets/wise-home/8 - Information architecture/Backgroung image Flow@x2.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        app-text-paragraph {
          margin-bottom: 2rem;
          color: black;
          width: 50%;

          &::ng-deep {
            .sub-headline {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }

        .picture {
          width: 82.5%;

          img {
            width: 100%;
            height: 100%;
            margin-left: -10px;
          }
        }
      }
    }

    &.wireframes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50% - $marginSize;
        margin: 0 $marginSize;
        padding: 5rem 0;
      }

      .picture {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      img {
        object-fit: fit;
        width: 100%;
      }
    }

    &.tablet-wireframes {
      width: 100%;
      height: auto;

      app-text-paragraph {
        width: 85%;
        margin: 3rem auto 0;
      }

      .picture {
        background: url("/assets/wise-home/10 - Tablet wireframes/Teal Background.svg");
        background-size: 100% 100%;
        background-position-y: center;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    &.phone-wireframes {
      width: 100%;
      height: 200vh;
      margin: 5rem 0;
      display: flex;
      align-items: center;

      .picture {
        background: url("/assets/wise-home/11 - Phone wireframes/3rectangles background.svg");
        background-size: 95% 100%;
        background-position-y: center;
        text-align: center;

        img {
          object-fit: cover;
          width: 67%;
        }
      }
    }

    &.design {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 200vh;
      background: url("/assets/wise-home/12 - Design phone/background.svg") no-repeat;
      background-size: cover;
      margin-top: 3rem;
      justify-content: center;


      .phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 8.4rem;

        app-text-paragraph {
          width: 50% - $marginSize;
          margin-left: 7.5%;
          padding: 5rem 0;
        }

        .picture {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          //background: url("/assets/wise-home/12 - Design phone/background for Phone.svg");
          img {
            width: 39%;
          }
        }
      }

      .tablet {

        .picture {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 51%;
          }
        }

      }

    }

    &.design-tablet {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/assets/wise-home/13 - Design Tablet/background for Tablet.svg");

      .picture {
        width: 50%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.colors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 10;
      width: 100%;

      app-text-paragraph {
        width: 50% - $marginSize;
        margin-left: 7.5%;
      }

      .picture {
        width: 100%;
        // height: 100%;

        img {
          width: 100%;
        }
      }

      .colors-container {
        width: $gridWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        bottom: 1rem;
      }
    }

    &.typography {
      background: url("/assets/wise-home/15 - Typhography&icons/Livingroom\ background@x3.png");
      background-size: cover;
      width: 100%;

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .typography-container {
          padding-top: 1rem;
          width: 50%;

          .picture {
            width: 100%;

            img {
              width: 70%;
            }
          }
        }

        .icons-container {
          width: 55%;
          margin-bottom: 2%;

          img {
            width: 100%;
            margin-left: -2%;
          }
        }
      }
    }

    &.show-off-tablets {
      width: 100%;
      position: relative;
      img {
        width: 100%;
      }

      .single {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        float: left;
        z-index: 0;
        top: 15%;
      }
      .display {
        width: 65%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        display: flex;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .lines-container {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vh;
        flex: 10;

        .line {
          &.spacer {
            flex: 1.8;
          }
          &.big-spacer {
            flex: 2.5;
          }
          &.first {
            flex: 1.5;
            background: #76b9bc;
          }
          &.second {
            flex: 4;
            background: #edf2f2;
          }
          &.third {
            flex: 6;
            background: #438689;
          }
        }
      }
    }

    &.show-off-phones {
      width: 100%;
      height: 200vh;
      display: flex;
      align-items: center;

      background: url("/assets/wise-home/19+20 - Design phones/rectangle teal.svg") no-repeat;
      background-size: 100% 50%;
      background-position-y: center;


      img {
        width: 100%;
      }
    }

    &.thanks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .picture {
        text-align: center;

        img {
          object-fit: contain;
          width: 25vw;
        }
      }

      .content {
        font-family: Butler;
        font-size: 4rem;
        font-weight: bold;
      }

    }

    &.contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      flex: 18;
      height: 100vh - $headerSize;
      min-height: 100vh - $headerSize;


      .navigation {
        display: flex;
        flex: 10;

        .prev,
        .next {
          flex: 5;
          text-align: center;
          display: flex;
          justify-content: center;
          padding-top: 45px;
          padding-bottom: 45px;
          outline: 0;
          user-select: none;
          transition: 0.5s;

          img {
            object-fit: contain;
          }

          &:hover {
            filter: brightness(50%);
            cursor: pointer;
          }
        }

        .prev {
          background: #fff;
        }

        .next {
          background: #c8e3e4;
        }
      }

      .info {
        flex: 8;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .headline {
          font-size: 4.5rem;
          margin-bottom: 1rem;
        }

        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .mail,
          .phone {
            margin: 10px;
          }
        }

        .goto-top {
          cursor: pointer;
          width: 98%;
          text-align: right;
        }
      }
    }
  }

}
