<div class="project-item" 
     [class.animating]="active"
     #projectElement 
     (click)="onProjectClick($event)">
  <div class="project-image">
    <img [src]="projectImage" alt="{{ projectName }}" />
  </div>
  
  <div class="project-info">
    <div class="name">{{ projectName }}</div>
    <div class="title">
      <div [innerHTML]="title | noBreak"></div>
    </div>
    <div class="project-link">
        <span class="read-more">View More</span>
        <span class="arrow"><img src="/assets/new-home/arrow.svg" alt="arrow" /></span>
    </div>
  </div>
</div>
