@import "./typography.scss";

:host {
  width: 100%;
  background: linear-gradient(180deg, #1A3391 4.61%, #6C7BB4 100%);
  display: block;
  color: white;
  padding-top: calc($headerSize + 120px);
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;

  .screen {
    width: 1440px;
    margin: 0 auto;

    &.main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      text-align: center;


      .picture {
        img {
          width: 100%;
        }
      }
    }

    &.about {
      display: flex;
      flex-direction: column;

      .info {
        width: 960px;
      }

    }

    &.buttons-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 10;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .buttons {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }

        .inputs {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
    &.web-mockups {
        .picture {
          img {
            width: 100%;
          }
        }
    }
  }
}