$responsiveBreakPoint: 768px;
$headerMobileHeight: 8%;

$nav-height: 76px;
$nav-height-mobile: 60px;

$text-size:1rem; //18px
$sub-text-size: 0.8rem;//16px

$h1-size: 2.75rem;//64px
$h1-subtile-size: 1.6rem; // 24px;
$h2-size: 1.6rem;//24px;
$h2-subtile-size: 1.2rem; // 18px;