@import "./assets/Fonts/Poppins/poppins.scss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "./scrollbar.scss";
@import "./responsive.scss";


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: calc((1vh + 1vw ) * 0.62);
  overflow-x: hidden;
  overflow-y: scroll;

  //scroll-behavior: smooth;

  @media only screen and (max-width: $responsiveBreakPoint) {
    font-size: 11.5px;
  }

}
a {
    text-decoration: none;
    color: unset;
}
* {
  font-family: $poppinsFontFamily;
}

@font-face {
  font-family: Butler;
  src: url("/assets/Fonts/Butler/Butler_Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: Butler;
  src: url("/assets/Fonts/Butler/Butler_Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Karu;
  src: url("/assets/Fonts/Karu/KaruLight.otf") format("truetype");
  font-weight: light;
}


 